In [27]:
import numpy as np
import pandas as pd
import pytz
import datetime
import tqdm

In [2]:
data = pd.read_csv('minuteData_NbTicksMin25_BusDay100_2020-12-31.csv')
data.head()

,timeStamp,TSLA_open,AAPL_open,NVDA_open,ORCL_open,SPY_open,MSFT_open,C_open,FB_open,QQQ_open,...,INTC_open,PFE_open,BAC_open,NFLX_open,MU_open,XOM_open,GILD_open,SNAP_open,GE_open,IWM_open
0,2020-08-14 09:30:00-04:00,332.9980,114.8288,461.2000,54.030,336.410,208.76,52.450,262.3050,273.01,...,48.730,38.0100,26.0600,482.820,45.600,42.6000,68.090,21.9000,6.5400,156.28
1,2020-08-14 09:31:00-04:00,330.6161,114.7500,461.2800,53.865,336.420,208.93,52.565,261.9600,273.03,...,48.800,38.0600,26.1200,483.250,45.550,42.6608,68.170,21.9901,6.5300,156.47
2,2020-08-14 09:32:00-04:00,331.2920,114.6325,461.8016,53.810,336.160,208.40,52.700,262.1600,272.64,...,48.780,37.9900,26.1973,482.760,45.495,42.7500,68.120,21.9900,6.5500,156.50
3,2020-08-14 09:33:00-04:00,332.9500,114.6575,463.7550,53.890,336.415,208.92,52.560,262.3400,273.04,...,48.870,37.9618,26.1950,484.705,45.470,42.9100,68.255,22.0250,6.5499,156.67
4,2020-08-14 09:34:00-04:00,331.6272,114.4225,462.0636,53.960,336.130,208.93,52.470,261.8229,272.80,...,48.795,38.0000,26.1300,485.080,45.340,42.8300,68.200,22.0150,6.5450,156.42

In [3]:
type(data['timeStamp'][0])

str

In [18]:
data['timeStamp'] = pd.to_datetime(data['timeStamp'])

In [20]:
data.head()

,timeStamp,TSLA_open,AAPL_open,NVDA_open,ORCL_open,SPY_open,MSFT_open,C_open,FB_open,QQQ_open,...,INTC_open,PFE_open,BAC_open,NFLX_open,MU_open,XOM_open,GILD_open,SNAP_open,GE_open,IWM_open
0,2020-08-14 09:30:00-04:00,332.9980,114.8288,461.2000,54.030,336.410,208.76,52.450,262.3050,273.01,...,48.730,38.0100,26.0600,482.820,45.600,42.6000,68.090,21.9000,6.5400,156.28
1,2020-08-14 09:31:00-04:00,330.6161,114.7500,461.2800,53.865,336.420,208.93,52.565,261.9600,273.03,...,48.800,38.0600,26.1200,483.250,45.550,42.6608,68.170,21.9901,6.5300,156.47
2,2020-08-14 09:32:00-04:00,331.2920,114.6325,461.8016,53.810,336.160,208.40,52.700,262.1600,272.64,...,48.780,37.9900,26.1973,482.760,45.495,42.7500,68.120,21.9900,6.5500,156.50
3,2020-08-14 09:33:00-04:00,332.9500,114.6575,463.7550,53.890,336.415,208.92,52.560,262.3400,273.04,...,48.870,37.9618,26.1950,484.705,45.470,42.9100,68.255,22.0250,6.5499,156.67
4,2020-08-14 09:34:00-04:00,331.6272,114.4225,462.0636,53.960,336.130,208.93,52.470,261.8229,272.80,...,48.795,38.0000,26.1300,485.080,45.340,42.8300,68.200,22.0150,6.5450,156.42

0.8491678319831647

In [22]:
cols = data.columns

In [24]:
cols = cols.drop("timeStamp")
cols

Index(['TSLA_open', 'AAPL_open', 'NVDA_open', 'ORCL_open', 'SPY_open',
       'MSFT_open', 'C_open', 'FB_open', 'QQQ_open', 'AMZN_open', 'WFC_open',
       'SQQQ_open', 'WMT_open', 'UBER_open', 'BA_open', 'INTC_open',
       'PFE_open', 'BAC_open', 'NFLX_open', 'MU_open', 'XOM_open', 'GILD_open',
       'SNAP_open', 'GE_open', 'IWM_open'],
      dtype='object')

In [25]:
cols = [x[:-5] for x in cols]
cols

['TSLA',
 'AAPL',
 'NVDA',
 'ORCL',
 'SPY',
 'MSFT',
 'C',
 'FB',
 'QQQ',
 'AMZN',
 'WFC',
 'SQQQ',
 'WMT',
 'UBER',
 'BA',
 'INTC',
 'PFE',
 'BAC',
 'NFLX',
 'MU',
 'XOM',
 'GILD',
 'SNAP',
 'GE',
 'IWM']

In [26]:
log_returns = pd.DataFrame(columns = [x+'_log_return' for x in cols])
vol_5 = pd.DataFrame(columns = [x+'_vol_5' for x in cols])
vol_30 = pd.DataFrame(columns = [x+'_vol_30' for x in cols])

In [35]:
for index, row in tqdm.tqdm(data.iterrows(), total = data.shape[0]):
    log_return = []
    v_5 = []
    v_30 = []
    for c in cols:
        if index > 0:
            log_return.append(np.log(data[c+'_open'][index]/data[c+'_open'][index-1]))
        if index > 3:
            v_5.append(np.std(data[c+'_open'][index-4:index+1]))
        if index > 28:
            v_30.append(np.std(data[c+'_open'][index-29:index+1])) 
            
    if index>0:
        log_returns.loc[len(log_returns.index)] = log_return
    if index>3:
        vol_5.loc[len(vol_5.index)] = v_5
    if index>28:
        vol_30.loc[len(vol_30.index)] = v_30

  0%|          | 0/37470 [00:00<?, ?it/s]
  0%|          | 1/37470 [00:00<3:04:06,  3.39it/s]
  0%|          | 6/37470 [00:00<2:12:48,  4.70it/s]
  0%|          | 10/37470 [00:00<1:37:40,  6.39it/s]
  0%|          | 13/37470 [00:00<1:15:20,  8.29it/s]
  0%|          | 17/37470 [00:00<57:25, 10.87it/s]
  0%|          | 21/37470 [00:00<45:00, 13.87it/s]
  0%|          | 27/37470 [00:00<34:58, 17.84it/s]
  0%|          | 31/37470 [00:01<30:36, 20.38it/s]
  0%|          | 35/37470 [00:01<27:18, 22.85it/s]
  0%|          | 39/37470 [00:01<26:41, 23.37it/s]
  0%|          | 43/37470 [00:01<24:44, 25.21it/s]
  0%|          | 47/37470 [00:01<22:53, 27.25it/s]
  0%|          | 51/37470 [00:01<22:04, 28.25it/s]
  0%|          | 55/37470 [00:01<21:04, 29.58it/s]
  0%|          | 59/37470 [00:01<20:20, 30.64it/s]
  0%|          | 63/37470 [00:02<19:42, 31.63it/s]
  0%|          | 67/37470 [00:02<19:57, 31.23it/s]
  0%|          | 71/37470 [00:02<22:34, 27.61it/s]
  0%|          | 74/37470 [00:02<24:06, 25.86it/s]
  0%|          | 77/37470 [00:02<25:44, 24.22it/s]
  0%|          | 80/37470 [00:02<24:45, 25.17it/s]
  0%|          | 83/37470 [00:02<24:36, 25.31it/s]
  0%|          | 86/37470 [00:03<24:15, 25.68it/s]
  0%|          | 89/37470 [00:03<25:05, 24.83it/s]
  0%|          | 92/37470 [00:03<25:43, 24.22it/s]
  0%|          | 95/37470 [00:03<26:01, 23.93it/s]
  0%|          | 99/37470 [00:03<23:22, 26.65it/s]
  0%|          | 102/37470 [00:03<23:24, 26.61it/s]
  0%|          | 105/37470 [00:03<22:40, 27.46it/s]
  0%|          | 108/37470 [00:03<22:25, 27.77it/s]
  0%|          | 111/37470 [00:03<22:53, 27.19it/s]
  0%|          | 114/37470 [00:04<26:01, 23.92it/s]
  0%|          | 117/37470 [00:04<24:34, 25.33it/s]
  0%|          | 120/37470 [00:04<23:37, 26.36it/s]
  0%|          | 123/37470 [00:04<24:36, 25.29it/s]
  0%|          | 126/37470 [00:04<25:32, 24.37it/s]
  0%|          | 129/37470 [00:04<26:58, 23.06it/s]
  0%|          | 132/37470 [00:04<26:15, 23.70it/s]
  0%|          | 135/37470 [00:04<25:21, 24.54it/s]
  0%|          | 138/37470 [00:05<26:44, 23.27it/s]
  0%|          | 141/37470 [00:05<26:25, 23.55it/s]
  0%|          | 144/37470 [00:05<25:10, 24.72it/s]
  0%|          | 147/37470 [00:05<24:10, 25.73it/s]
  0%|          | 150/37470 [00:05<23:29, 26.48it/s]
  0%|          | 153/37470 [00:05<24:35, 25.29it/s]
  0%|          | 156/37470 [00:05<24:44, 25.14it/s]
  0%|          | 159/37470 [00:05<25:12, 24.66it/s]
  0%|          | 162/37470 [00:06<24:21, 25.52it/s]
  0%|          | 165/37470 [00:06<23:30, 26.44it/s]
  0%|          | 169/37470 [00:06<22:03, 28.18it/s]
  0%|          | 173/37470 [00:06<20:48, 29.88it/s]
  0%|          | 177/37470 [00:06<20:06, 30.90it/s]
  0%|          | 181/37470 [00:06<19:49, 31.34it/s]
  0%|          | 185/37470 [00:06<19:31, 31.83it/s]
  1%|          | 189/37470 [00:06<19:14, 32.28it/s]
  1%|          | 193/37470 [00:07<20:32, 30.24it/s]
  1%|          | 197/37470 [00:07<21:50, 28.45it/s]
  1%|          | 200/37470 [00:07<22:31, 27.57it/s]
  1%|          | 203/37470 [00:07<22:06, 28.09it/s]
  1%|          | 206/37470 [00:07<23:51, 26.04it/s]
  1%|          | 209/37470 [00:07<25:45, 24.11it/s]
  1%|          | 212/37470 [00:07<25:21, 24.48it/s]
  1%|          | 215/37470 [00:07<25:43, 24.14it/s]
  1%|          | 218/37470 [00:08<25:54, 23.97it/s]
  1%|          | 221/37470 [00:08<25:56, 23.94it/s]
  1%|          | 224/37470 [00:08<25:59, 23.88it/s]
  1%|          | 227/37470 [00:08<26:10, 23.72it/s]
  1%|          | 230/37470 [00:08<25:42, 24.15it/s]
  1%|          | 233/37470 [00:08<26:04, 23.80it/s]
  1%|          | 236/37470 [00:08<27:06, 22.89it/s]
  1%|          | 239/37470 [00:08<25:41, 24.15it/s]
  1%|          | 242/37470 [00:09<24:34, 25.25it/s]
  1%|          | 245/37470 [00:09<24:56, 24.88it/s]
  1%|          | 249/37470 [00:09<23:09, 26.78it/s]
  1%|          | 252/37470 [00:09<22:39, 27.38it/s]
  1%|          | 256/37470 [00:09<21:40, 28.62it/s]
  1%|          | 259/37470 [00:09<26:43, 23.21it/s]
  1%|          | 262/37470 [00:09<26:32, 23.37it/s]
  1%|          | 265/37470 [00:09<25:43, 24.10it/s]
  1%|          | 268/37470 [00:10<26:06, 23.75it/s]
  1%|          | 271/37470 [00:10<24:35, 25.21it/s]
  1%|          | 274/37470 [00:10<26:39, 23.26it/s]
  1%|          | 277/37470 [00:10<27:39, 22.41it/s]
  1%|          | 280/37470 [00:10<28:12, 21.97it/s]
  1%|          | 283/37470 [00:10<30:04, 20.60it/s]
  1%|          | 286/37470 [00:10<30:16, 20.47it/s]
  1%|          | 289/37470 [00:11<29:42, 20.86it/s]
  1%|          | 292/37470 [00:11<29:43, 20.84it/s]
  1%|          | 295/37470 [00:11<29:44, 20.83it/s]
  1%|          | 298/37470 [00:11<29:02, 21.33it/s]
  1%|          | 301/37470 [00:11<28:07, 22.02it/s]
  1%|          | 304/37470 [00:11<29:04, 21.30it/s]
  1%|          | 307/37470 [00:11<30:20, 20.42it/s]
  1%|          | 310/37470 [00:12<30:32, 20.28it/s]
  1%|          | 313/37470 [00:12<29:38, 20.89it/s]
  1%|          | 316/37470 [00:12<38:33, 16.06it/s]
  1%|          | 318/37470 [00:12<37:48, 16.38it/s]
  1%|          | 320/37470 [00:12<37:17, 16.60it/s]
  1%|          | 322/37470 [00:12<42:47, 14.47it/s]
  1%|          | 324/37470 [00:13<46:43, 13.25it/s]
  1%|          | 327/37470 [00:13<40:42, 15.21it/s]
  1%|          | 330/37470 [00:13<37:11, 16.65it/s]
  1%|          | 333/37470 [00:13<32:58, 18.77it/s]
  1%|          | 336/37470 [00:13<31:39, 19.55it/s]

KeyboardInterrupt:

In [31]:
log_returns.head()

,TSLA_log_return,AAPL_log_return,NVDA_log_return,ORCL_log_return,SPY_log_return,MSFT_log_return,C_log_return,FB_log_return,QQQ_log_return,AMZN_log_return,...,INTC_log_return,PFE_log_return,BAC_log_return,NFLX_log_return,MU_log_return,XOM_log_return,GILD_log_return,SNAP_log_return,GE_log_return,IWM_log_return
0,-0.007179,-0.000686,0.000173,-0.003059,0.000030,0.000814,0.002190,-0.001316,0.000073,-0.000371,...,0.001435,0.001315,0.002300,0.000890,-0.001097,0.001426,0.001174,0.004106,-0.001530,0.001215
1,0.002042,-0.001024,0.001130,-0.001022,-0.000773,-0.002540,0.002565,0.000763,-0.001429,-0.003007,...,-0.000410,-0.001841,0.002955,-0.001014,-0.001208,0.002089,-0.000734,-0.000005,0.003058,0.000192
2,0.004992,0.000218,0.004221,0.001486,0.000758,0.002492,-0.002660,0.000686,0.001466,0.001511,...,0.001843,-0.000743,-0.000088,0.004021,-0.000550,0.003736,0.001980,0.001590,-0.000015,0.001086
3,-0.003981,-0.002052,-0.003654,0.001298,-0.000848,0.000048,-0.001714,-0.001973,-0.000879,0.000548,...,-0.001536,0.001006,-0.002484,0.000773,-0.002863,-0.001866,-0.000806,-0.000454,-0.000748,-0.001597
4,-0.006071,-0.002253,-0.003607,0.001481,-0.000268,-0.002204,0.001333,-0.002114,-0.001394,-0.002560,...,0.000000,0.000263,0.001530,-0.000144,0.000441,0.001633,0.000440,-0.005237,0.001527,-0.000703

In [36]:
vol_5.head()

,TSLA_vol_5,AAPL_vol_5,NVDA_vol_5,ORCL_vol_5,SPY_vol_5,MSFT_vol_5,C_vol_5,FB_vol_5,QQQ_vol_5,AMZN_vol_5,...,INTC_vol_5,PFE_vol_5,BAC_vol_5,NFLX_vol_5,MU_vol_5,XOM_vol_5,GILD_vol_5,SNAP_vol_5,GE_vol_5,IWM_vol_5
0,0.938140,0.136928,0.925184,0.076577,0.132650,0.204490,0.088566,0.199030,0.158821,3.795636,...,0.044944,0.032138,0.051395,0.976963,0.087886,0.111764,0.058275,0.044207,0.007465,0.126079
1,1.103502,0.209687,1.104888,0.079725,0.155743,0.241909,0.074673,0.365263,0.236440,4.118024,...,0.031718,0.032138,0.032206,0.964782,0.080474,0.094192,0.047117,0.044207,0.008593,0.117405
2,1.086445,0.186601,1.154128,0.081731,0.131286,0.256796,0.086163,0.368218,0.211811,3.001680,...,0.031718,0.022565,0.027596,1.018570,0.061612,0.061838,0.055281,0.070498,0.003737,0.129213
3,1.168755,0.161923,1.267422,0.063056,0.142632,0.260875,0.043081,0.401022,0.212941,2.787959,...,0.029563,0.042128,0.023537,0.621292,0.066603,0.070711,0.048415,0.072553,0.008355,0.170341
4,0.836973,0.089451,1.284964,0.058310,0.170529,0.301423,0.032619,0.378062,0.233889,2.624043,...,0.010992,0.036551,0.018868,0.705141,0.077720,0.059174,0.058515,0.061205,0.009517,0.103034

  1%|          | 336/37470 [00:32<31:39, 19.55it/s]

In [37]:
vol_30.head()

,TSLA_vol_30,AAPL_vol_30,NVDA_vol_30,ORCL_vol_30,SPY_vol_30,MSFT_vol_30,C_vol_30,FB_vol_30,QQQ_vol_30,AMZN_vol_30,...,INTC_vol_30,PFE_vol_30,BAC_vol_30,NFLX_vol_30,MU_vol_30,XOM_vol_30,GILD_vol_30,SNAP_vol_30,GE_vol_30,IWM_vol_30
0,1.305705,0.362550,1.778925,0.104934,0.212408,0.365969,0.060673,0.643585,0.430724,8.776870,...,0.062904,0.046381,0.036379,1.626095,0.135028,0.097937,0.076545,0.089688,0.013265,0.210908
1,1.241806,0.341990,1.691428,0.106750,0.220761,0.369471,0.059500,0.631061,0.426226,8.516449,...,0.061138,0.049667,0.030824,1.578571,0.135235,0.090687,0.080504,0.089587,0.012936,0.229076
2,1.260227,0.321087,1.619430,0.101066,0.236867,0.369196,0.058914,0.627104,0.421093,8.380171,...,0.065239,0.055480,0.029158,1.560141,0.135335,0.085950,0.086243,0.087067,0.011806,0.241550
3,1.255219,0.304867,1.549451,0.086599,0.240861,0.364865,0.051651,0.616619,0.421253,8.697911,...,0.066915,0.058395,0.029483,1.472857,0.134078,0.085730,0.088502,0.084357,0.012697,0.252277
4,1.181466,0.284351,1.551113,0.079208,0.249831,0.365820,0.053572,0.597901,0.415051,8.733007,...,0.071645,0.058821,0.029692,1.460369,0.132858,0.088217,0.090930,0.079366,0.014144,0.258733