In [3]:
import pandas as pd
import numpy as np

In [4]:
myDf = pd.read_csv("stocks.csv")

In [5]:
myDf.head()

,timeStamp,TSLA_open,AAPL_open,NVDA_open,ORCL_open,SPY_open,MSFT_open,C_open,FB_open,QQQ_open,...,INTC_open,PFE_open,BAC_open,NFLX_open,MU_open,XOM_open,GILD_open,SNAP_open,GE_open,IWM_open
0,2020-08-14 09:30:00-04:00,332.9980,114.8288,461.2000,54.030,336.410,208.76,52.450,262.3050,273.01,...,48.730,38.0100,26.0600,482.820,45.600,42.6000,68.090,21.9000,6.5400,156.28
1,2020-08-14 09:31:00-04:00,330.6161,114.7500,461.2800,53.865,336.420,208.93,52.565,261.9600,273.03,...,48.800,38.0600,26.1200,483.250,45.550,42.6608,68.170,21.9901,6.5300,156.47
2,2020-08-14 09:32:00-04:00,331.2920,114.6325,461.8016,53.810,336.160,208.40,52.700,262.1600,272.64,...,48.780,37.9900,26.1973,482.760,45.495,42.7500,68.120,21.9900,6.5500,156.50
3,2020-08-14 09:33:00-04:00,332.9500,114.6575,463.7550,53.890,336.415,208.92,52.560,262.3400,273.04,...,48.870,37.9618,26.1950,484.705,45.470,42.9100,68.255,22.0250,6.5499,156.67
4,2020-08-14 09:34:00-04:00,331.6272,114.4225,462.0636,53.960,336.130,208.93,52.470,261.8229,272.80,...,48.795,38.0000,26.1300,485.080,45.340,42.8300,68.200,22.0150,6.5450,156.42

In [6]:
stocks_open = myDf.columns[1:]

In [7]:
new_column_names = []
for i in stocks_open:
    new_column_names.append(("").join(i.split("open")) + "log_return")

In [8]:
myDf.shape

(37470, 26)

In [9]:
log_df = pd.DataFrame( columns=new_column_names)

In [10]:
log_df = log_df.append(pd.Series(), ignore_index=True)

<ipython-input-10-452ba0a00e40>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  log_df = log_df.append(pd.Series(), ignore_index=True)

In [11]:
log_df

,TSLA_log_return,AAPL_log_return,NVDA_log_return,ORCL_log_return,SPY_log_return,MSFT_log_return,C_log_return,FB_log_return,QQQ_log_return,AMZN_log_return,...,INTC_log_return,PFE_log_return,BAC_log_return,NFLX_log_return,MU_log_return,XOM_log_return,GILD_log_return,SNAP_log_return,GE_log_return,IWM_log_return
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
'''for i in range(1,myDf.shape[0]-1):
    log_df.loc[i] = myDf.iloc[i,1:]/myDf.iloc[i+1,1:]
'''

'for i in range(1,myDf.shape[0]-1):\n    log_df.loc[i] = myDf.iloc[i,1:]/myDf.iloc[i+1,1:]\n'

In [13]:
 log_df.loc[1] = myDf.iloc[1,1:]/myDf.iloc[2,1:]

In [14]:
log_df

,TSLA_log_return,AAPL_log_return,NVDA_log_return,ORCL_log_return,SPY_log_return,MSFT_log_return,C_log_return,FB_log_return,QQQ_log_return,AMZN_log_return,...,INTC_log_return,PFE_log_return,BAC_log_return,NFLX_log_return,MU_log_return,XOM_log_return,GILD_log_return,SNAP_log_return,GE_log_return,IWM_log_return
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
log_df = np.log10(log_df.iloc[,1:])

TypeError: loop of ufunc does not support argument 0 of type numpy.float64 which has no callable log method

In [0]:
log_df['timeStamp'] = myD.iloc[:,1]